*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
li{
  list-style:none;
}
header{
  width:90%;
  padding:20px;
  margin:0 auto;
  text-align: center;
}
header .headline{
  font-size:32px;
}

nav{
  padding:15px;
  border-top: solid gray 1px;
  border-bottom: solid gray 1px;
  text-align: center;
}
.list-item{
  margin:0 20px;
  display:inline-block;
}

.boxes{
  width: 800px;
  height: 600px;
  margin:50px auto;
}
.box{
  height: 200px;
  width:200px;
  float:left;
}
.green1{
  background-color:#e6ffe9;
}
.green2{
  background-color:#cbffd3;
}
.green3{
  background-color:#aeffbd;
}
.green4{
  background-color:#93ffab;
}
.yellow1{
  background-color: #f3ffd8;
}
.yellow2{
  background-color: #edffbe;
}
.yellow3{
  background-color: #e9ffa5;
}
.yellow4{
  background-color: #e4ff8d;
}
.blue1{
  background-color: #d9e5ff;
}
.blue2{
  background-color: #bad3ff;
}
.blue3{
  background-color: #a4c6ff;
}
.blue4{
  background-color: #8eb8ff;
}

footer{
  height:120px;
  width: 100%;
  background-color: gray;
}
footer p{
  text-align: center;
  line-height: 120px;
  color:white;
}
